@import '../../App.styles.scss';

.log-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        @extend %titles;
    }

    h2 {
        @extend %subtitles;
    }

    input {
        @extend %inputs;
    }

    .log-page-email {
        margin-top: 70px;
    }

    .log-page-forgot {
        margin-top: 20px;
        color: map-get($colors, "main");
        font-style: italic;
        font-weight: 300;
        font-size: 16px;
        opacity: 0.5;
    }

    button {
        margin-top: 70px;
        @extend %buttons;
    }
}