$colors: (
    'main': white,
    'extra': black,
);

%buttons {
    background-color: map-get($colors, "main");
    color: map-get($colors, "extra");
    width: 350px;
    height: 65px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 24px;
}

%titles {
    color: map-get($colors, "main");
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
}

%subtitles {
    color: map-get($colors, "main");
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

%inputs {
    border-style: none;
    border-bottom: 1px solid map-get($colors, "main");
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.app-container {
    margin: 70px 165px;
    padding: 50px 0;
    min-height: 600px;
    width: 1100px;
    border-top: 1px solid map-get($colors, "main");
    border-bottom: 1px solid map-get($colors, "main");
}

